body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .app {
    height: 100%;
    display: flex;
  }
  
  .sidebar {
    position: fixed; 
    top: 200px; 
    right: 0; 
    width: 0;
    height: 50%;
    background-color: #eeeded;
    overflow-x: hidden;
    transition: width 0.5s ease;
    padding-left: 20px;
    box-sizing: border-box;
    z-index: 995;
    overflow-x: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;

  }
  
  .sidebar.open {
    width: 300px;
    visibility: visible;
    
    
  }
  
  .content {
    flex-grow: 1;
    background-color: #fff;
    padding: 20px;
    
  }
  
  .hamburger {

    position: absolute;
    top: 16px;
    right: 20px;
    z-index: 998;
    cursor: pointer;
    font-size:40px;
    background: transparent;
    border: none;
  }
  
  .filter {
    margin-bottom: 10px;
  }
  
  .filter label {
    display: block;
    margin-bottom: 5px;
  }
  .filtercontent{
    display: flex;
    flex-direction: column;
    
    visibility: hidden;
    transition: visibiliy 1s ease;
    margin-top: 20px;
  }
  .filtercontent.open{
    visibility: visible;

  }
  .filter input{
    border: none;
    outline: none;
    color: #616161;
    font-family: Poppins;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
  }
  .submit{
    width: 100px;
    height: 40px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-top: 100px;
    margin-left: 150px;
    cursor: pointer;
  }
  .submit:hover{
    background-color: rgb(71, 71, 71);
    transition: 0.5s ease;
  }